.title{
  text-align: center;
  margin: auto;
}

.resum{
  text-align: center;
  margin: auto;
  margin-top: 2%;
}

.mot {
  display: flex;
  margin-top: 2%;
  justify-content: center;
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
  padding: 3%;
}

.clavier {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-left: 35%;
  margin-right: 35%;
  flex-wrap: wrap;  
}

